/* styles.css */

/**
Color palette
33539E
7FACD6
BFB8DA
E8B7D4
A5678E
 */
/*
.buttonGreen{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
 */

.button2 {
    -fx-background-color: linear-gradient(to bottom, #7FACD6, #BFB8DA);
    -fx-text-fill: #FFFFFF;
}
.button2:hover {
    -fx-background-color:  linear-gradient(to bottom, #BFB8DA, #7FACD6);
    -fx-cursor: hand;

}
.menu-bar{
    -fx-background-color: linear-gradient(to bottom, #BFB8DA, #B1A3FF);
}

.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #7FACD6, #BFB8DA);
    -fx-background-radius: 7px 7px 0px 0px;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
    -fx-cursor: hand;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.anchor-pane{
    -fx-background-color: linear-gradient(to bottom, #B1A3FF, #BFB8DA);
}
.menu-button{
    -fx-background-color: linear-gradient(to bottom, #BFB8DA, #B1A3FF);
}
.menu-button:hover{
    -fx-background-color: #BFB8DA;
    -fx-cursor: hand;

}
.homebutton{
    -fx-cursor: hand;

}